.phoneInputWrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .error{
    color: #ff0000;
    font-style: italic;
    font-size: 0.8rem;
  }
}


.phoneInput{
  width: 100%;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.2rem;
  &:focus{
    outline: none;
    border-color: #333;
  }
}
.invalidInput{
  border-color: #ff0000;
  box-shadow: 0 0 5px #ff0000;
  transition: box-shadow 0.3s ease-in-out;
  color: crimson;
}